<!-- <main>
    <div class="">
        <p class="">API Content</p>
        <div class="">
            <ul *ngFor="let data of apiData">
                <li>{{data.id}}</li>
                <li>{{data.name}}</li>
                <li>{{data.username}}</li>
                <li>{{data.email}}</li>
            </ul>
        </div>
    </div>
</main> -->
<div>
    <ul>
        <li *ngFor="let user of apiData">
            {{ user.name }} ({{ user.email }})
        </li>
    </ul>
</div>
<ng-template #loading>
    Loading...
</ng-template>